* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 90vh;
}


.tema1{
  background-repeat: repeat-x;
	background-size: cover;
	background: linear-gradient(-45deg, #DDE0DA, rgb(211, 182, 55), #c04e89, #000000) ;
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;

}

.tema2{
  background-repeat: repeat-x;
	background-size: cover;
	background: linear-gradient(-45deg, #DDE0DA, rgb(107 204 255), #c04e89, #000000) ;
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;

}

.tema3{
  background-repeat: repeat-x;
	background-size: cover;
	background: linear-gradient(-45deg, #DDE0DA, rgb(11 28 124), #b695ff, #000000) ;
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;

}

.tema4{
  background-repeat: repeat-x;
	background-size: cover;
	background: linear-gradient(-45deg, #DDE0DA, rgb(218 45 45), #53d590, #000000) ;
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;

}

html::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(19, 19, 19);
}
html::-webkit-scrollbar-thumb {
  background-color: rgb(92, 92, 92);
  border-radius: 10px;
}
::selection{
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

@keyframes gradient {
  0% {
    background-position: 40% 50%;
  }
  50% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 40% 50%;
  }
}


header {
  font-size: 2rem;
  flex-direction: column;
}

#footer {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: all 0.3s ease;
  font-weight: 600;
}

a:hover {
  color: rgb(0, 0, 0);
}

p {
  text-align: center;
}

h1 {
  text-align: center;
  padding-top: 2rem;
}

header,
.addtodo {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addtodo{
  width: 100%;
  max-width: 800px;
  margin: auto;
  flex-wrap: wrap;
}

.addtodo input {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  border-radius: 15px 0px 0px 15px;
  background: rgba( 255, 255, 255, 0.15 );
  backdrop-filter: blur( 20.0px );
  -webkit-backdrop-filter: blur( 20.0px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  border-right: none;
  color: white;
  width: 100%;

}

.addtodo input:focus {
  outline: none;
}

.addtodo button {
  color: white;
  padding: 0.5rem;
  font-size: 2rem;
  background: rgba( 255, 255, 255, 0.15 );
  backdrop-filter: blur( 20.0px );
  -webkit-backdrop-filter: blur( 20.0px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  border-left: none;
  border-radius: 0px 15px 15px 0px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-right: 3px !important;
}
.addtodo button:hover {
  color: rgb(0, 0, 0);
  
}

.addtodo button i {
  font-size: 20px;
  text-align: center !important;
  vertical-align: middle;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.todo-container3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*responsive media query*/
@media screen and (max-width: 600px) {
  .todo-container2 {
    width: 95%;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 360px) {
  h1 {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 327px) {
  .todo-container {
    margin-bottom: 6.5rem;
  }
}


.todo-list {
  width: 95%;
  max-width: 800px;
  list-style: none;
  margin-bottom: 1.8rem;
}

.todo {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
  background: rgba( 255, 255, 255, 0.15 );
  backdrop-filter: blur( 20.0px );
  -webkit-backdrop-filter: blur( 20.0px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  border-radius: 15px;
}
.filter-todo {
  padding: 1rem;
  border-radius: 15px 15px 0px 0px;
  background: rgba( 255, 255, 255, 0.15 );
  backdrop-filter: blur( 20.0px );
  -webkit-backdrop-filter: blur( 20.0px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  color: white;
}
.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: none;
  color: rgb(255, 255, 255);
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
}
.trash-btn:hover {
  color: rgb(255, 72, 72);
}
.complete-btn:hover {
  color: rgb(104, 255, 129);
}


.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) scale(.9);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  background-image: none;
  transition: all 0.3s ease;
}


/* Custom Select */
.select {
  margin-left: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: white;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 12rem;
}

select option {
  background:  rgb(255, 255, 255);
  color: #000;
  border-radius: 15px;
}

/* Arrow */
.select::after {
  color: white;
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  margin: auto;
  padding: 1rem;
  border: none;
  cursor: pointer;
  pointer-events: none;
  border-radius: 0px 15px 0px 0px;
  transition: all 0.3s ease;
}
/* Transition */

.select:hover::after, select:hover {
  color: rgb(0, 0, 0);
}

footer {
  text-align: center;
}

footer p {
  background: rgba( 255, 255, 255, 0.15 );
  backdrop-filter: blur( 20.0px );
  -webkit-backdrop-filter: blur( 20.0px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  border-radius: 15px;
  padding: 2rem;
  max-width: 800px;
  text-align: center;
  margin: auto;
  width: 95%;
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

.tema{
  display: flex;
  margin-top: 1.5rem;

}

.circulo1{
  height:2rem;
  width:2rem;
  background: linear-gradient(-45deg, rgb(211, 182, 55), #c04e89) ;
  -moz-border-radius:50px;
  -webkit-border-radius:50px;
  border-radius:50px;
  margin-left: 1rem;
  border: rgb(255, 255, 255) 3px solid;
  cursor: pointer;
  transition: all 0.3s ease;
}

.circulo2{
  height:2rem;
  width:2rem;
  background: linear-gradient(-45deg, rgb(107 204 255), #c04e89) ;
  -moz-border-radius:50px;
  -webkit-border-radius:50px;
  border-radius:50px;
  margin-left: 1rem;
  border: rgb(255, 255, 255) 3px solid;
  cursor: pointer;
  transition: all 0.3s ease;
}

.circulo3{
  height:2rem;
  width:2rem;
  background: linear-gradient(-45deg, rgb(11 28 124), #b695ff) ;
  -moz-border-radius:50px;
  -webkit-border-radius:50px;
  border-radius:50px;
  margin-left: 1rem;
  border: rgb(255, 255, 255) 3px solid;
  cursor: pointer;
  transition: all 0.3s ease;
}

.circulo4{
  height:2rem;
  width:2rem;
  background: linear-gradient(-45deg, rgb(218 45 45), #53d590) ;
  -moz-border-radius:50px;
  -webkit-border-radius:50px;
  border-radius:50px;
  margin-left: 1rem;
  border: rgb(255, 255, 255) 3px solid;
  cursor: pointer;
  transition: all 0.3s ease;
}

.active {
  border: #53d590 3px solid;
}